@model Product


<div class="col-4" style="float:left">
    <img src="@Model.Image" alt="" style="width:25vw;height:25vw;" />
    <h3 style="color:red;text-align:center">@Model.Name</h3>
    <b>Decription:</b> @Model.Description
    <br />
    <b>Category:</b> @Model.Category
    
    <hr />
</div>

