<environment>
    <link rel="stylesheet" href="~/css/contact.css" />
</environment>

@*chỗ này phần menu*@
<div style="background:#f9b3cf;">
    <div class="container">
        <div class="top-bar-left">
            <div class="logo">
                <a href="/#"><span>ICE CREAM</span></a>
            </div>
            <div class="menu-wrapper">
                <ul class="menu-ul">
                    <li><a asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                    <li><a asp-controller="Recipe" asp-action="Index"><span>Recipe</span></a></li>
                    <li><a asp-controller="About" asp-action="Index"><span>About</span></a></li>
                    <li><a asp-controller="Contact" asp-action="Index"><span style="color:#d41442;font-size:20px">Contact</span></a></li>
                </ul>
            </div>
        </div>
        <div class="top-bar-right">
            <div class="login">
                <span></span>
            </div>
        </div>
    </div>
    
</div>


<div class="aboutus-banner col-md-12 col-xs-12">
    <h2>
        FEEL FREE TO <br>
        CONTACT US
    </h2>
</div>

<div class="container">
    <div class="contact col-md-12 col-xs-12">

        <div class="col-xs-6 col-md-6">

            <div class="contact-header">
                <h3>SEND US A</h3>
                <h2>Message</h2>
            </div>

            <form class="col-xs-12 col-md-12">
                <div class="row">
                    <div class="col" style="padding-right: 8px;">
                        <input id="name" name="name" type="text"
                               class="form-control" placeholder="Your Name" required>
                    </div>

                    <div class="col" style="padding-left: 8px;">
                        <input id="email" name="email" type="text"
                               class="form-control" placeholder="Your Email" required>
                    </div>
                </div>

                <div class="mt-2">
                    <input id="subject" name="subject" type="text"
                           class="form-control" placeholder="Subject" required>
                </div>

                <div class="mt-2">
                    <textarea id="message" name="message" type="text"
                              class="form-control" placeholder="Message" cols="6" rows="6" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary mt-4">Send us a message</button>
            </form>
        </div>

        <div class="image-wrapper col-xs-6 col-md-6 ml-5">
            <img src="/img/icecream2-contact-pic1.png" width="780" height="780">
        </div>

    </div>
</div>

<div class="time-detail col-xs-12 col-md-12">

    <div class="time-card card col-xs-4 col-md-4 ml-2 mr-2">
        <h6 class="card-title">CAFE</h6>

        <h6 class="card-subtitle text-muted">Chicago</h6>

        <p class="card-text">
            Fusce ut velit laoreet,
            tempus arcu molestie vulputate
        </p>

        <hr>

        <h6 class="card-subtitle">Monday - Friday</h6>
        <p class="card-subtitle text-muted">06:00 AM - 10:00 PM</p>

        <h6 class="card-subtitle">Saturday-Sunday</h6>
        <p class="card-subtitle text-muted">08:00 AM - 08:00 PM</p>

        <hr>

        <h6 class="card-subtitle">+61(0) 383 766 284</h6>
        <h6 class="card-subtitle text-muted">noreply@envato.com</h6>

    </div>

    <div class="time-card card col-xs-4 col-md-4 ml-2 mr-2">
        <h6 class="card-title">CAFE</h6>

        <h6 class="card-subtitle text-muted">Chicago</h6>

        <p class="card-text">
            Fusce ut velit laoreet,
            tempus arcu molestie vulputate
        </p>

        <hr>

        <h6 class="card-subtitle">Monday - Friday</h6>
        <p class="card-subtitle text-muted">06:00 AM - 10:00 PM</p>

        <h6 class="card-subtitle">Saturday-Sunday</h6>
        <p class="card-subtitle text-muted">08:00 AM - 08:00 PM</p>

        <hr>

        <h6 class="card-subtitle">+61(0) 383 766 284</h6>
        <h6 class="card-subtitle text-muted">noreply@envato.com</h6>

    </div>

    <div class="time-card card col-xs-4 col-md-4 ml-2 mr-2">
        <h6 class="card-title">CAFE</h6>

        <h6 class="card-subtitle text-muted">Chicago</h6>

        <p class="card-text">
            Fusce ut velit laoreet,
            tempus arcu molestie vulputate
        </p>

        <hr>

        <h6 class="card-subtitle">Monday - Friday</h6>
        <p class="card-subtitle text-muted">06:00 AM - 10:00 PM</p>

        <h6 class="card-subtitle">Saturday-Sunday</h6>
        <p class="card-subtitle text-muted">08:00 AM - 08:00 PM</p>

        <hr>

        <h6 class="card-subtitle">+61(0) 383 766 284</h6>
        <h6 class="card-subtitle text-muted">noreply@envato.com</h6>

    </div>



</div>


