@model Ice_Cream.Models.Product

<div class="col-12 text-center" style="margin-top: 200px;color: white">
    <div class="col-12 col">
        <h4>ICE CREAM</h4>
        <h1 style="margin-bottom:100px;font-size:60px;">RECIPES</h1>
    </div>
    <div class="col-12 col">
        <div class="col-4" style="background-color:darkgray; border-radius:5px">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-pic1.png" width="150"/>
            <h4><b>FREE</b></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla mauris dolor, gravida a varius blandit, auctor eget purus.</p>
        </div>
        <div class="col-4" style="background-color:darkgray; border-radius:5px">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-pic1.png" width="150" />
            <h4><b>FREE</b></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla mauris dolor, gravida a varius blandit, auctor eget purus.
            </p>
        </div>
        <div class="col-4" style="background-color:darkgray; border-radius:5px">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-pic1.png" width="150" />
            <h4><b>FREE</b></h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nulla mauris dolor, gravida a varius blandit, auctor eget purus.
            </p>
        </div>
    </div>
</div>
