@model Ice_Cream.Models.Product
<environment>
    <link rel="stylesheet" href="/css/about.css" />
</environment>


@*chỗ này phần menu*@
<div style="background:#f9b3cf;">
    <div class="container">
        <div class="top-bar-left">
            <div class="logo">
                <a href="/#"><span>ICE CREAM</span></a>
            </div>
            <div class="menu-wrapper">
                <ul class="menu-ul">
                    <li><a asp-controller="Home" asp-action="Index"><span>Home</span></a></li>
                    <li><a asp-controller="Recipe" asp-action="Index"><span>Recipe</span></a></li>
                    <li><a asp-controller="About" asp-action="Index"><span style="color:#d41442;font-size:20px">About</span></a></li>
                    <li><a asp-controller="Contact" asp-action="Index"><span>Contact</span></a></li>
                </ul>
            </div>
        </div>
        <div class="top-bar-right">
            <div class="login">
                <span></span>
            </div>
        </div>
    </div>
    
</div>


<div style="background-image: url(https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-subheader1.jpg);
        background-repeat: no-repeat;
        background-size: cover; height:580px">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="title"
                    style="width: 100%; font-size: 70px; line-height: 70px; font-weight: 400; letter-spacing: 0px; font-family: 'Titan One', Arial, Tahoma, sans-serif;color:white;margin-top: 200px">
                    A FEW WORDS ABOUT US
                </h1>
            </div>
        </div>
    </div>
</div>
<div style="background-color:white">
    <div class="container">
        <div class="row" style="padding-top:120px;padding-bottom:80px">
            <div class="col-6" style="padding: 40px 6% 0 0">
                <h3 style="color: #ffa5ba;font-family: 'Titan One', Arial, Tahoma, sans-serif">ORCI VARIUS</h3>
                <h2 style="color: #D41442;font-family: 'Titan One', Arial, Tahoma, sans-serif">TORQUENT</h2>
                <h6 style="font-family: 'DM Sans', Arial, Tahoma, sans-serif; ">
                    Vivamus in diam turpis. In condimentum maximus tristique.
                    Maecenas non laoreet odio. Fusce lobortis porttitor purus,
                    vel vestibulum libero pharetra vel. Pellentesque lorem augue,
                    fermentum nec nibh et, fringilla sollicitudin orci.
                </h6>
                <p style="font-family: 'DM Sans', Arial, Tahoma, sans-serif;color: #907e82;">
                    Integer pharetra magna non ante blandit lobortis. Sed mollis consequat eleifend.
                    Aliquam consectetur orci eget dictum tristique.
                    Aenean et sodales est, ut vestibulum lorem. Ut ultricies imperdiet sodales. Aliquam fringilla.
                </p>
                <p style="font-family: 'DM Sans', Arial, Tahoma, sans-serif;color: #907e82;">
                    Integer magna purus, commodo in diam nec, pretium auctor sapien.
                    In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus,
                    non dictum elit nibh ut massa.
                </p>
                <button>READ MORE </button>
            </div>
            <div class="col-6">
                <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-about-pic1.jpg" width="100%" height="650" />
            </div>
        </div>
    </div>
</div>
<div style="background-color: #FFF5F7;
        background-image: url(https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-sectionbg4.png);
        background-repeat: no-repeat;
        background-size: cover;
    ">
    <div class="container">
        <div style="padding: 120px 0 80px">
            <h3 style="color:#FFA5BA;
                 margin:0px 0px 15px;
                 font-family:'Titan One', Arial, Tahoma, sans-serif;
                 text-align:center;
                 font-size:30px;
                 line-height:40px;
                 font-weight:400;
                 letter-spacing:0px">
                MEET
            </h3>
            <h2 style="
                margin: 0px 0px 15px;
                font-size: 60px;
                line-height: 60px;
                font-weight: 400;
                letter-spacing: 0px;
                color: #d41422;
                text-align: center ;
                font-family: 'Titan One', Arial, Tahoma, sans-serif;">
                OUR TEAM
            </h2>
            <div class="container" style="width: 170px;padding: 10px 0">
                <button style="margin:auto">CONTACT US </button>
            </div>
        </div>
        <div class="row" style="padding-top: 80px; padding-bottom: 50px;width:100%">
            <div class="col-4">
                <div class="container form">
                    <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-about-pic2.png" alt="Alternate Text" height="400" width="92%" style="margin:-30px 13px 0" />
                    <div style="margin:20px 0">
                        <h4>HANH</h4>
                        <p style="color:#907282;font-family:'Rubik', sans-serif">Hahahaha</p>
                    </div>
                </div>
            </div>
            <div class="col-4" style="margin-top: -50px">
                <div class="container form">
                    <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-about-pic2.png" alt="alternate text" height="400" width="92%" style="margin:-30px 13px 0" />
                    <div style="margin:20px 0">
                        <h4>MINH</h4>
                        <p style="color:#907282;font-family:'Rubik', sans-serif">Hahahaha</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="container form">
                    <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-about-pic2.png" alt="Alternate Text" height="400" width="92%" style="margin:-30px 13px 0" />
                    <div style="margin:20px 0">
                        <h4>QUYNH</h4>
                        <p style="color:#907282;font-family:'Rubik', sans-serif">Hahahaha</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px; padding-bottom: 250px;width:100%">
            <div class="col-6">
                <div class="container form-user" style="float:right">
                    <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-about-pic2.png" alt="Alternate Text" height="400" width="92%" style="margin:-30px 13px 0" />
                    <div style="margin:20px 0">
                        <h4>AN</h4>
                        <p>Hahahaha</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container form-user" style="float:left">
                    <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-about-pic2.png" alt="Alternate Text" height="400" width="92%" style="margin:-30px 13px 0" />
                    <div style="margin:20px 0">
                        <h4>SON</h4>
                        <p>Hahahaha</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color:white;padding-bottom: 300px">
    <div class="container">
        <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-pic5.jpg" width="1900" height="650" style="margin: 0 -395px" />
    </div>
</div>
<div style="background-color: #FFF5F7;
        background-image: url(https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-sectionbg4.png);
        background-repeat: no-repeat;
        background-size: cover;
">
    <div class="container">
        <div class="row" style="padding-bottom: 50px;width:100%">
            <div class="col-4 content">
                <div class="container form-content" style="width: 100%;background-color: white;border-radius:20px;box-shadow: 0px 0px 20px 0px #d5d3d3">
                    <span>CAFE</span>
                    <h6>Chicago</h6>
                    <p style="color:#907E82">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />
                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />
                    <p style="color:#907E82;padding-bottom: 30px">
                        +61(0) 383 766 284<br />
                        noreply@envato.com
                    </p>
                </div>
            </div>
            <div class="col-4 content">
                <div class="container form-content" style="width: 100%;background-color: white;border-radius:20px;box-shadow: 0px 0px 20px 0px #d5d3d3">
                    <span>CAFE</span>
                    <h6>Chicago</h6>
                    <p style="color:#907E82">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />
                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />
                    <p style="color:#907E82;padding-bottom: 30px">
                        +61(0) 383 766 284<br />
                        noreply@envato.com
                    </p>
                </div>
            </div>
            <div class="col-4 content">
                <div class="container form-content" style="width: 100%;background-color: white;border-radius:20px;box-shadow: 0px 0px 20px 0px #d5d3d3">
                    <span>CAFE</span>
                    <h6>Chicago</h6>
                    <p style="color:#907E82">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />
                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <h6>Monday-Friday</h6>
                    <p style="color:#ffa5ba;">06:00 AM - 10:00 PM</p>
                    <hr style="margin: 30px 0 30px; color:#907E82" />
                    <p style="color:#907E82;padding-bottom: 30px">
                        +61(0) 383 766 284<br />
                        noreply@envato.com
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="container" style="width: 170px;padding: 10px 0 150px">
                <div class="row">
                    <div class="col-6">
                        <button style="margin:auto;background-color: #d41442;width:170px; height:50px;outline:0;border:0;border-radius:25px;color:white;float:right"> Our locations -></button>
                    </div>
                    <div class="col-6">
                        <button style="margin:auto;background-color: #fff;width:170px; height:50px;outline:0;border:0;border-radius:25px;color:#d41442;float:left"> Franchise -></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
