
<environment>
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<div>
    <header>
        <div class="container">
            <div class="top-bar-left">

                <div class="logo">
                    <a href="/#"><span>ICE CREAM</span></a>
                </div>
                <div class="menu-wrapper">
                    <ul class="menu-ul">
                        <li><a asp-controller="Home" asp-action="Index"><span style="color:#d41442;font-size:20px">Home</span></a></li>
                        <li><a asp-controller="Recipe" asp-action="Index"><span>Recipe</span></a></li>
                        <li><a asp-controller="About" asp-action="Index"><span>About</span></a></li>
                        <li><a asp-controller="Contact" asp-action="Index"><span>Contact</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="top-bar-right">
                <div class="login">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="header-slider-text">
            <p>ICE CREAM</p>
            <p>MADE WITH</p>
            <span style="color:#d41442;font-size:59px">PASSION</span>
        </div>
        <div class="header-slider-glass-milk">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-slider-pic5.png" width="171" height="174" />
            <div class="slide-text-milk">
                <span>Lorem ipsum dolor sit amet</span><br />
                <span>enim. Etiam  malesuada elit</span><br />
                <span>lectus felis, malesuada dolor </span><br />
                <span>ultricies. Curabitur ligula.  </span><br />
            </div>
        </div>
        <div class="header-slider-circle">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-slider-pic1.png" width="533" height="533" />
        </div>
        <div class="header-slider-cream">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-slider-pic7.png" width="235" height="557" />
        </div>
        <div class="header-silder-moderm">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-slider-pic4.png" width="281" height="222" />
        </div>

        <div class="header-slider-circle-mini-one">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-slider-pic6.png" width="26" height="26" />
        </div>
        <span class="slider-16">16</span><br />
        <span class="slider-cafes">cafes</span>

        <div class="header-slider-circle-mini-two">
            <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-slider-pic6.png" width="26" height="26" />
        </div>
        <span class="slider-23">23</span><br />
        <span class="slider-trucks">food trucks</span>


    </header>

    <section class="contentTop">
        <div class="container">

            <div class="title-content-1">
                <h3>TRADITION AND LOVE</h3>
                <h2>HOW IT’S MADE?</h2>
            </div>

            <div class="col-12 content-1">

                <div class="col-6 img-cow">
                    <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-pic4.png" width="100%" height="100%" alt="" />
                </div>

                <div class="col-6 text-cow">
                    <h6>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</h6>
                    <p style="margin:50px 0;color:#907e82">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    <p style="color:#907e82">Aliquam erat volutpat. Aenean accumsan.</p>
                </div>
            </div>

        </div>
    </section>

    <section class="contentShowUp col-12">
        <div class="container">
            <div class="col-4 contentChild">
                <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-icon1.png" />
                <h2>72l</h2>
                <h6>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h6>
            </div>
            <div class="col-4 contentChild">
                <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-icon2.png" />
                <h2>16kg</h2>
                <h6>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h6>
            </div>
            <div class="col-4 contentChild">
                <img src="https://themes.muffingroup.com/be/icecream2/wp-content/uploads/2019/09/icecream2-home-icon3.png" />
                <h2>84</h2>
                <h6>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h6>
            </div>
        </div>
    </section>
</div>