* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff5f7;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}

.logo {
    float: left;
    padding-top: 30px;
}

.top-bar-left {
    width: 100%;
    height: 120px
}

.logo a {
    text-decoration: none;
}

    .logo a span {
        color: #d41442;
        font-size: 30px;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: 0px;
        font-family: "Titan One", Arial, Tahoma, sans-serif;
    }

.menu-wrapper {
    float: left;
    height: 120px;
}

.menu-ul {
    padding: 30px 50px;
}

    .menu-ul li {
        list-style: none;
        float: left;
        margin-left: 30px;
        color: white;
    }

        .menu-ul li a {
            text-decoration: none;
        }

            .menu-ul li a span {
                color: white;
                font-family: "DM Sans", Arial, Tahoma, sans-serif;
                font-size: 16px;
                position: relative;
                z-index: 2;
            }

                .menu-ul li a span:hover {
                    color: #d41442;
                    transition: 2s
                }
/*chỗ này phần menu*/

button {
    margin: 70px 0;
    background-color: #d41442;
    width: 170px;
    height: 53px;
    outline: 0;
    border: 0;
    border-radius: 25px;
    color: white;
}

.form {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #d5d3d3
}

.form-user {
    background-color: white;
    width: 68%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #d5d3d3
}

    .form, .form-user h4 {
        font-size: 25px;
        line-height: 35px;
        font-weight: 400;
        letter-spacing: 0px;
        font-family: 'Titan One', Arial, Tahoma, sans-serif;
        text-align: center;
        color: black !important;
    }

    .form, .form-user p {
        padding: 0 0 20px;
        color: #907282;
        font-size: 16px;
        text-align: center;
    }

.content {
    margin-top: -80px
}

    .content span {
        display: inline-block;
        background: #efd1a5;
        color: #fff;
        padding: 0 15px;
        border-radius: 5px;
        margin: 50px 15px 15px
    }

    .content h6 {
        font-size: 17px;
        line-height: 28px;
        font-weight: 550;
        letter-spacing: 0px;
        margin: 7px 15px;
        font-family: 'DM Sans', Arial, Tahoma, sans-serif;
        color: #000
    }

    .content p {
        font-size: 17px;
        line-height: 28px;
        font-weight: 550;
        letter-spacing: 0px;
        margin: 7px 15px;
        font-family: 'DM Sans', Arial, Tahoma, sans-serif;
        color: #907E82
    }

.form-content {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #d5d3d3
}
